dev/ftp.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d6f99cfd-90a5-3180-b71a-e42f38ba4de3",
            "id" : "47f2f8f2-90b6-3aa2-ba4d-197f226d1451",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d6f99cfd-90a5-3180-b71a-e42f38ba4de3",
          "identifier" : "c17929bd-d5f8-33b3-95a3-41b7277b25ba",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "valid" ],
          "source" : {
            "comments" : "",
            "groupId" : "d6f99cfd-90a5-3180-b71a-e42f38ba4de3",
            "id" : "aa682a18-34e5-3935-b0dd-c0ff7b435f8c",
            "name" : "ValidateAndChangeCsvToJson",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d6f99cfd-90a5-3180-b71a-e42f38ba4de3",
            "id" : "aa682a18-34e5-3935-b0dd-c0ff7b435f8c",
            "name" : "ValidateAndChangeCsvToJson",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d6f99cfd-90a5-3180-b71a-e42f38ba4de3",
          "identifier" : "1c3b73ff-5a1e-3d44-8c9d-217f0b7a4ef2",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "d6f99cfd-90a5-3180-b71a-e42f38ba4de3",
            "id" : "378b9080-4e06-3b93-9c07-df6b67d23012",
            "name" : "GetFilesFromHomenet",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d6f99cfd-90a5-3180-b71a-e42f38ba4de3",
            "id" : "c14263e0-ce91-3689-8c53-953856b508bb",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d6f99cfd-90a5-3180-b71a-e42f38ba4de3",
          "identifier" : "3107e983-a008-32a5-bb9d-b8410ca2719e",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "split" ],
          "source" : {
            "comments" : "",
            "groupId" : "d6f99cfd-90a5-3180-b71a-e42f38ba4de3",
            "id" : "47f2f8f2-90b6-3aa2-ba4d-197f226d1451",
            "name" : "SplitJson",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "d6f99cfd-90a5-3180-b71a-e42f38ba4de3",
            "id" : "c14263e0-ce91-3689-8c53-953856b508bb",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "d6f99cfd-90a5-3180-b71a-e42f38ba4de3",
          "identifier" : "9424d4aa-f5bd-3d6c-ab16-1cbcda666bd4",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "valid" ],
          "source" : {
            "comments" : "",
            "groupId" : "d6f99cfd-90a5-3180-b71a-e42f38ba4de3",
            "id" : "aa682a18-34e5-3935-b0dd-c0ff7b435f8c",
            "name" : "ValidateAndChangeCsvToJson",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.15.3"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.15.3"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "d6f99cfd-90a5-3180-b71a-e42f38ba4de3",
          "identifier" : "1be68e1e-eeb4-3a2f-8d3c-c50731268d2c",
          "name" : "CSVReader",
          "properties" : {
            "ignore-csv-header" : "false",
            "CSV Format" : "custom",
            "Quote Character" : "\"",
            "csvutils-allow-duplicate-header-names" : "true",
            "Value Separator" : ",",
            "Record Separator" : "\\n",
            "Escape Character" : "\\",
            "Skip Header Line" : "false",
            "Trim Fields" : "true",
            "schema-name" : "${schema.name}",
            "csv-reader-csv-parser" : "commons-csv",
            "schema-access-strategy" : "csv-header-derived",
            "csvutils-character-set" : "UTF-8",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "ignore-csv-header" : {
              "displayName" : "Ignore CSV Header Column Names",
              "identifiesControllerService" : false,
              "name" : "ignore-csv-header",
              "sensitive" : false
            },
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "CSV Format" : {
              "displayName" : "CSV Format",
              "identifiesControllerService" : false,
              "name" : "CSV Format",
              "sensitive" : false
            },
            "Quote Character" : {
              "displayName" : "Quote Character",
              "identifiesControllerService" : false,
              "name" : "Quote Character",
              "sensitive" : false
            },
            "csvutils-allow-duplicate-header-names" : {
              "displayName" : "Allow Duplicate Header Names",
              "identifiesControllerService" : false,
              "name" : "csvutils-allow-duplicate-header-names",
              "sensitive" : false
            },
            "Value Separator" : {
              "displayName" : "Value Separator",
              "identifiesControllerService" : false,
              "name" : "Value Separator",
              "sensitive" : false
            },
            "Record Separator" : {
              "displayName" : "Record Separator",
              "identifiesControllerService" : false,
              "name" : "Record Separator",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Escape Character" : {
              "displayName" : "Escape Character",
              "identifiesControllerService" : false,
              "name" : "Escape Character",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Null String" : {
              "displayName" : "Null String",
              "identifiesControllerService" : false,
              "name" : "Null String",
              "sensitive" : false
            },
            "Skip Header Line" : {
              "displayName" : "Treat First Line as Header",
              "identifiesControllerService" : false,
              "name" : "Skip Header Line",
              "sensitive" : false
            },
            "Trim Fields" : {
              "displayName" : "Trim Fields",
              "identifiesControllerService" : false,
              "name" : "Trim Fields",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "csv-reader-csv-parser" : {
              "displayName" : "CSV Parser",
              "identifiesControllerService" : false,
              "name" : "csv-reader-csv-parser",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "Comment Marker" : {
              "displayName" : "Comment Marker",
              "identifiesControllerService" : false,
              "name" : "Comment Marker",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "csvutils-character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "csvutils-character-set",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "type" : "org.apache.nifi.csv.CSVReader"
        }, {
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.15.3"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.15.3"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "d6f99cfd-90a5-3180-b71a-e42f38ba4de3",
          "identifier" : "a8e593c9-342f-3916-bc16-f78d24b046dc",
          "name" : "JsonRecordSetWriter",
          "properties" : {
            "compression-level" : "1",
            "Pretty Print JSON" : "false",
            "compression-format" : "none",
            "Schema Write Strategy" : "no-schema",
            "suppress-nulls" : "never-suppress",
            "output-grouping" : "output-array",
            "schema-name" : "${schema.name}",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "compression-level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "compression-level",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "Pretty Print JSON" : {
              "displayName" : "Pretty Print JSON",
              "identifiesControllerService" : false,
              "name" : "Pretty Print JSON",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "suppress-nulls" : {
              "displayName" : "Suppress Null Values",
              "identifiesControllerService" : false,
              "name" : "suppress-nulls",
              "sensitive" : false
            },
            "output-grouping" : {
              "displayName" : "Output Grouping",
              "identifiesControllerService" : false,
              "name" : "output-grouping",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "type" : "org.apache.nifi.json.JsonRecordSetWriter"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "d6f99cfd-90a5-3180-b71a-e42f38ba4de3",
          "identifier" : "c14263e0-ce91-3689-8c53-953856b508bb",
          "position" : {
            "x" : 424.0,
            "y" : 336.0
          }
        } ],
        "identifier" : "d6f99cfd-90a5-3180-b71a-e42f38ba4de3",
        "inputPorts" : [ ],
        "labels" : [ ],
        "name" : "FTP simulated",
        "outputPorts" : [ ],
        "position" : {
          "x" : 1864.0,
          "y" : 320.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ "failure", "invalid" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.15.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d6f99cfd-90a5-3180-b71a-e42f38ba4de3",
          "identifier" : "aa682a18-34e5-3935-b0dd-c0ff7b435f8c",
          "name" : "ValidateAndChangeCsvToJson",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 920.0,
            "y" : 208.0
          },
          "properties" : {
            "allow-extra-fields" : "true",
            "strict-type-checking" : "true",
            "schema-name" : "${schema.name}",
            "record-writer" : "a8e593c9-342f-3916-bc16-f78d24b046dc",
            "coerce-types" : "false",
            "record-reader" : "1be68e1e-eeb4-3a2f-8d3c-c50731268d2c",
            "maximum-validation-details-length" : "1024",
            "schema-access-strategy" : "reader-schema",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "allow-extra-fields" : {
              "displayName" : "Allow Extra Fields",
              "identifiesControllerService" : false,
              "name" : "allow-extra-fields",
              "sensitive" : false
            },
            "strict-type-checking" : {
              "displayName" : "Strict Type Checking",
              "identifiesControllerService" : false,
              "name" : "strict-type-checking",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "invalid-record-writer" : {
              "displayName" : "Record Writer for Invalid Records",
              "identifiesControllerService" : true,
              "name" : "invalid-record-writer",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "coerce-types" : {
              "displayName" : "Force Types From Reader's Schema",
              "identifiesControllerService" : false,
              "name" : "coerce-types",
              "sensitive" : false
            },
            "validation-details-attribute-name" : {
              "displayName" : "Validation Details Attribute Name",
              "identifiesControllerService" : false,
              "name" : "validation-details-attribute-name",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "maximum-validation-details-length" : {
              "displayName" : "Maximum Validation Details Length",
              "identifiesControllerService" : false,
              "name" : "maximum-validation-details-length",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ValidateRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.15.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d6f99cfd-90a5-3180-b71a-e42f38ba4de3",
          "identifier" : "378b9080-4e06-3b93-9c07-df6b67d23012",
          "name" : "GetFilesFromHomenet",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 920.0,
            "y" : -16.0
          },
          "properties" : {
            "Ignore Dotted Files" : "true",
            "Port" : "21",
            "Max Selects" : "100",
            "Proxy Type" : "DIRECT",
            "Connection Mode" : "Active",
            "Connection Timeout" : "30 sec",
            "follow-symlink" : "false",
            "Internal Buffer Size" : "16KB",
            "Search Recursively" : "false",
            "Remote Poll Batch Size" : "5000",
            "Polling Interval" : "60 sec",
            "Hostname" : "10.0.0.26",
            "Remote Path" : "/opt/data",
            "ftp-use-utf8" : "false",
            "Data Timeout" : "30 sec",
            "Transfer Mode" : "Binary",
            "Username" : "nuser",
            "Use Natural Ordering" : "false",
            "Delete Original" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "Http Proxy Password" : {
              "displayName" : "Http Proxy Password",
              "identifiesControllerService" : false,
              "name" : "Http Proxy Password",
              "sensitive" : true
            },
            "Ignore Dotted Files" : {
              "displayName" : "Ignore Dotted Files",
              "identifiesControllerService" : false,
              "name" : "Ignore Dotted Files",
              "sensitive" : false
            },
            "Port" : {
              "displayName" : "Port",
              "identifiesControllerService" : false,
              "name" : "Port",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Max Selects" : {
              "displayName" : "Max Selects",
              "identifiesControllerService" : false,
              "name" : "Max Selects",
              "sensitive" : false
            },
            "Proxy Type" : {
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "name" : "Proxy Type",
              "sensitive" : false
            },
            "Connection Mode" : {
              "displayName" : "Connection Mode",
              "identifiesControllerService" : false,
              "name" : "Connection Mode",
              "sensitive" : false
            },
            "Connection Timeout" : {
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "Path Filter Regex" : {
              "displayName" : "Path Filter Regex",
              "identifiesControllerService" : false,
              "name" : "Path Filter Regex",
              "sensitive" : false
            },
            "follow-symlink" : {
              "displayName" : "Follow symlink",
              "identifiesControllerService" : false,
              "name" : "follow-symlink",
              "sensitive" : false
            },
            "Internal Buffer Size" : {
              "displayName" : "Internal Buffer Size",
              "identifiesControllerService" : false,
              "name" : "Internal Buffer Size",
              "sensitive" : false
            },
            "Search Recursively" : {
              "displayName" : "Search Recursively",
              "identifiesControllerService" : false,
              "name" : "Search Recursively",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            },
            "File Filter Regex" : {
              "displayName" : "File Filter Regex",
              "identifiesControllerService" : false,
              "name" : "File Filter Regex",
              "sensitive" : false
            },
            "Remote Poll Batch Size" : {
              "displayName" : "Remote Poll Batch Size",
              "identifiesControllerService" : false,
              "name" : "Remote Poll Batch Size",
              "sensitive" : false
            },
            "Polling Interval" : {
              "displayName" : "Polling Interval",
              "identifiesControllerService" : false,
              "name" : "Polling Interval",
              "sensitive" : false
            },
            "Http Proxy Username" : {
              "displayName" : "Http Proxy Username",
              "identifiesControllerService" : false,
              "name" : "Http Proxy Username",
              "sensitive" : false
            },
            "Hostname" : {
              "displayName" : "Hostname",
              "identifiesControllerService" : false,
              "name" : "Hostname",
              "sensitive" : false
            },
            "Remote Path" : {
              "displayName" : "Remote Path",
              "identifiesControllerService" : false,
              "name" : "Remote Path",
              "sensitive" : false
            },
            "Proxy Port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Port",
              "sensitive" : false
            },
            "ftp-use-utf8" : {
              "displayName" : "Use UTF-8 Encoding",
              "identifiesControllerService" : false,
              "name" : "ftp-use-utf8",
              "sensitive" : false
            },
            "Data Timeout" : {
              "displayName" : "Data Timeout",
              "identifiesControllerService" : false,
              "name" : "Data Timeout",
              "sensitive" : false
            },
            "Transfer Mode" : {
              "displayName" : "Transfer Mode",
              "identifiesControllerService" : false,
              "name" : "Transfer Mode",
              "sensitive" : false
            },
            "Username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "Username",
              "sensitive" : false
            },
            "Use Natural Ordering" : {
              "displayName" : "Use Natural Ordering",
              "identifiesControllerService" : false,
              "name" : "Use Natural Ordering",
              "sensitive" : false
            },
            "Delete Original" : {
              "displayName" : "Delete Original",
              "identifiesControllerService" : false,
              "name" : "Delete Original",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GetFTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.15.3"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "d6f99cfd-90a5-3180-b71a-e42f38ba4de3",
          "identifier" : "47f2f8f2-90b6-3aa2-ba4d-197f226d1451",
          "name" : "SplitJson",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 920.0,
            "y" : 432.0
          },
          "properties" : {
            "Null Value Representation" : "empty string",
            "JsonPath Expression" : "$.*"
          },
          "propertyDescriptors" : {
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "JsonPath Expression" : {
              "displayName" : "JsonPath Expression",
              "identifiesControllerService" : false,
              "name" : "JsonPath Expression",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.SplitJson",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { }
    }
  }
}